body {
  margin: auto;
  font-family: Arial, sans-serif;
  width: 580px;
  background-color: rgb(250, 250, 246);
}
blockquote {
color: #909090; /* Dark grey color */
font-style: italic; /* Optional: to differentiate blockquote from other text */
}
p, li {
  color: #707070; /* Dark grey color */
}
h1 {
color: #666;
text-align: center;
}
h2, h3 {
  color: #666; /* Dark grey color */
}
.canvas-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
canvas {
  border: 3px solid #ccc; /* Optional: adds a light border around the canvas */
}
div.doolin {
  position: fixed;
  bottom: 5px;
  right: 5px;
}
.shamrock {
  color: #008000;
  font-size: 110%;
}
